body{
    margin-top: 12%;
    margin-left: 15%;
    border: 2px solid black;
    width: max-content;
}

.table{
    width: 100px;
    height: 100px;
}

.day{
    display: flex;
}
.day > div{
    border: 1px black solid;
    width: 100px;
    height: 50px;
}
.br{
    width: 40px !important;
    border: none !important;
    font-weight: bold;
}

.d{
    display: flex;
    width: 400px;
    font-weight: bold;
}

.d > div{
    font-weight: bold;
    width: 150px;
    height: 100px;
}

.input{
    outline: none !important;
    border: none;
    width: 93px;
    height: 30px;   
}

.search{
    margin-top: 2%;
}

.one{
    font-weight: bold;
}

.two{
    font-weight: bold;
}

.three{
    font-weight: bold;
}

.four{
    font-weight: bold;
}

.five{
    font-weight: bold;
}

.six{
    font-weight: bold;
}

.seven{
    font-weight: bold;
}

.eigth{
    font-weight: bold;
}